.title {
    padding-top: 3em;
    padding-bottom: 3em;
}

.title-span {
    margin: 158px 0px 0px 548px;
    padding: 14px;
    text-align: center;
}

.predictbtn {
    margin-top: 2px;
}

.hide {
    display: none;
}